:root{
    --monteserrat:"Montserrat", sans-serif;
    --open-sans:"Open Sans", sans-serif;
    --light-gray: #EEEEEE;
    --primary-color: #0A1128;
    --seconder-color: crimson;
    --white-color: white;
    --gap: 3rem;
}